@model IEnumerable<Uptime.CredentialManager.Web.Models.Credential>
@using System.Security.Claims; 

@{
    ViewData["Title"] = "Search";
   
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    <p>
        Credential: @Html.TextBox("term") 
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayName("Users")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var credential in Model.OrderBy(x => x.Description))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => credential.Description)
            </td>
            <td>
                @foreach (var userCredential in credential.UserCredentials)
                 {
                    @userCredential.User.Name
                    <br>
                 }
            </td>
            <td>
                @foreach (var userCredential in credential.UserCredentials)
                {
                    var identity = User.Identity as ClaimsIdentity;
                    string preferred_username = identity.Claims.FirstOrDefault(c => c.Type == "preferred_username")?.Value;

                    @if (userCredential.User.Name == preferred_username)
                     {
                        @Html.ActionLink("Details", "Details", "Credentials", new { id = credential.Id }, null)
                     }                    
                 }
            </td>
         </tr>
         }
        </tbody>
    </table>