@model Uptime.CredentialManager.Web.ViewModels.UserEditViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Username")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>

<div>
    <table>
        <col width="150">
        <tr>Credentials:</tr>
        @foreach (var credential in @Model.CredentialList)
        {
            <tr>
                <td>
                    @credential.Description
                </td>
            </tr>
        }
    </table>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
