@model Uptime.CredentialManager.Web.ViewModels.UserEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Username</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <input type ="hidden" asp-for="UserId" />
            <div>
                <div class="form-group">
                    <label asp-for="Credentials" class="control-label">Credentials</label>
                    <select asp-for="SelectedCredential" asp-items="@Model.Credentials"></select>
                    <span asp-validation-for="Credentials" class="text-danger"></span>
                </div>
            </div>
            <div>
                <table>
                    <col width="150">
                    <col width="150">
                    
                    @foreach (var credential in @Model.CredentialList)
                    {
                        <tr>
                            <td>
                                @credential.Description

                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Credentials", new { id = credential.Id }, null)
                                | @Html.ActionLink("Remove", "Remove", "Users", new { userId = @Model.UserId, credentialId = credential.Id }, null)
                            </td>
                        </tr>
                    }
                </table>

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
